<div id="content"></div>

<script type="text/javascript">
  $(function() {
    var projects = <%= raw render(:file => 'api/projects/index.json.rabl') %>;
    window.router = new Demo.Routers.ProjectsRouter(projects);
    Backbone.history.start();
  });
</script>